/* the menu across the top of large site */
.dc-sitenav{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: stretch;
  margin-bottom: 0.25rem;
  padding: .43rem $dc_site_padding_right .2rem $dc_site_padding_left;
  height: 2.2rem;
  box-sizing: border-box;
  ::selection { color: #DE0707;}
}
  .dc-sitenav::before {
    content: '';
    background: #aaaaaa;
    display: block;
    position: absolute;
    width: 100vw;
    height: 2.8rem;
    z-index: -1;
    top: -0.3rem;
    left:0;
  }
  html[data-dc-pagetype="home"] .dc-sitenav::before{
    display: none;
  }
  .dc-sitenav a{
    height: 1.65rem;    
    color: #000;
    text-decoration: underline;    
    // text-decoration-style: dotted;        
    // text-decoration-thickness: 0.12em;
    text-decoration-thickness: 0.01em;
    text-underline-offset: .25em;
    // text-decoration-line: none;
  }

    .dc-sitenav a:hover{
      // color: #000;
      text-decoration-line: none;
    }
      
      // html[data-dc-pagetype="home"][data-dc-homeactive="related-matters"] .dc-sitenav a[href="#{$urlRoot}"],
      html[data-dc-pagetype="home"][data-dc-homeactive="dissemination"] .dc-sitenav a[href="#{$urlRoot}dissemination"],
      html[data-dc-pagetype="home"][data-dc-homeactive="track-record"] .dc-sitenav a[href="#{$urlRoot}track-record"],
      html[data-dc-pagetype="relatedmatter"][data-dc-menuvisible="related-matters"] .dc-sitenav a[href="#{$urlRoot}"],
      html[data-dc-pagetype="relatedmatter"] .dc-sitenav .dc-sitenav-item__work a,
      html[data-dc-pagetype="dissemination"] .dc-sitenav a[href="#{$urlRoot}dissemination"],
      html[data-dc-pagetype="null"] .dc-sitenav a[href="#{$urlRoot}track-record"]{
        color: #DE0707;
        //text-decoration-line: none;
       
        svg path[fill]{
          fill: #DE0707 !important;
        }
        svg path[stroke]{
          stroke: #DE0707 !important;
        }
      }

      html[data-dc-pagetype="home"][data-dc-homeactive="related-matters"] .dc-sitenav--homelink{
        color: #DE0707;
        // text-decoration: none;
      }
      html[data-dc-menuvisible="related-matters"] .dc-sitenav--homelink{
        color: #000 !important;
      }

      html[data-dc-pagetype="home"][data-dc-homeactive="focus-groups"] .dc-sitenav a[href="#{$urlRoot}focus-groups"],
      html[data-dc-pagetype="focusgroup"] .dc-sitenav a[href="#{$urlRoot}focus-groups"]{
        //color: #000;     
        //text-decoration-line: none;   
      }
      
      html[data-dc-menuvisible="track-record"] .dc-sitenav a[data-dc-localtarget="#track-record"]{        
        color: #DE0707;
        text-decoration-line: underline !important;   
      }


.dc-sitenav--entry__focus-groups{
  order: 1;
  flex-shrink: 1;
  width: 10em;
}

.dc-sitenav--entry__related-matters{
  order: 2;
  flex-grow:2;
  text-align: center;
  font-size: 0;
}

.dc-sitenav--entry__track-record{
  order: 3;
  flex-shrink:1;  
  width: 10em;
  text-align: right;
}

.dc-sitenav--text{
  position: relative;
  text-align: justify;
  text-align-last: justify;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  a{
    padding-right: 0;
    &:before{
      display: none;      
    }
  }
  .dc-sitenav--line{
    white-space: nowrap;
  }
  .condensed{
    display: inline-block;
    transform: scaleX(0.69);
    text-align: left;
    text-align-last: left; 
    letter-spacing: -0.055em;
  }
  .dc-sitenav--pronounce{
    position: absolute;
    right: -10.3%;
  }
  .dc-sitenav--line__one{
    height: 1.9rem;
    overflow: hidden;
  }
  .dc-sitenav--line__two{
    position: absolute;
    left: -21.7%;
    top: 1.6rem;
  }
  svg:hover{
    path{
      fill: #DE0707;
    }
  }
}
  

.dc-faces{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 3.1rem !important;
  overflow: hidden;  
  .face{
    height: 3.1rem;
    width: 3.1rem;
    background-image: url('../images/faces/1.png');
    background-position: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    &[data-face="1"]{
      background-image: url('../images/faces/1.png');
    }
    &[data-face="2"]{
      background-image: url('../images/faces/2.png');
    }
    &[data-face="3"]{
      background-image: url('../images/faces/3.png');
    }
    &[data-face="4"]{
      background-image: url('../images/faces/4.png');
    }
    &[data-face="5"]{
      background-image: url('../images/faces/5.png');
    }
    &[data-face="6"]{
      background-image: url('../images/faces/6.png');
    }
    &[data-face="7"]{
      background-image: url('../images/faces/7.png');
    }
    &[data-face="8"]{
      background-image: url('../images/faces/8.png');
    }
    
  }
}


/* the dropdowns / lists */
.dc-navigation-item{
  position: absolute;
  width: 100%;
  background: #aaaaaa;
  z-index: 10;
  display: none;
  padding: 0 $dc_site_padding_right .3rem $dc_site_padding_left;  
}
  html[data-dc-pagetype="home"],
  html[data-dc-pagetype="home"][data-dc-homeactive="related-matters"]{
    .dc-navigation-item#related-matters{
      /* LANDING IMAGE */
      /* set display none / comment out display line */
      // display: block;
    }
  }
  html[data-dc-pagetype="home"][data-dc-homeactive="focus-groups"]{ 

    .dc-navigation-item#focus-groups{
      display: block;
    }
  }
  html[data-dc-pagetype="home"][data-dc-homeactive="dissemination"]{ 
    .dc-navigation-item#dissemination{
      display: block;
    }
  }
  html[data-dc-pagetype="home"][data-dc-homeactive="track-record"]{
    .dc-navigation-item#related-matters{
      display: none;
    }
    #track-record{
      display: block;
    }
  }

/* work lists */
.dc-work{  
  list-style-type: none;
  padding-top: 1.8rem;  
  /* LANDING IMAGE */
  /* padding top 4.8 below*/ 
  padding-top: 1.8rem;
  margin: 0 0 0 0;
  height: calc(100% - 2.2rem);
  box-sizing: border-box;
}
  .dc-work--year{
    display: flex;
    justify-content: flex-start;   
    align-items: baseline; 
  }
  .dc-work--year h2{
    position: relative;
    padding: 0 .09em 0 0;
    color: #DE0707;
    white-space: nowrap;    
    -webkit-transform:translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;     
  }

  .dc-work--item{
    //overriding the 'relative' of ext links to allow the 
    //description to position relative to the line instead
    position: static !important; 
  }

  .dc-work--item--hoverimg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    z-index: -1;
  }
    .dc-work--item:hover .dc-work--item--hoverimg{
      display: block;  
    }

  .dc-work--item--description{
    display: none;
    position: absolute;    
    top: 0;
    left: 0.03em;
    background: #aaaaaa;
    z-index: 1;
    pointer-events: none;
    text-transform: none;
    width: 100%;
    text-align: justify;
    overflow-x: hidden;    
    overflow-y: hidden;
    text-overflow: clip;
    height: 3.5rem;
    letter-spacing: -0.061em;
    word-spacing: -0.023em;
    white-space: normal;
    margin-top: 0.09rem;
    .description-inner{
      white-space: nowrap;
    }
  }    
    .dc-work--item.dc-external-link .dc-work--item--description{
      width: auto;
      right: 0.5em;
    }

    .dc-work--item:hover .dc-work--item--description{
      // display: block;
      display: none;
    }
    .dc-work--item.dc-external-link:hover:before{
      color: #DE0707;
    }

    .dc-biglist--now .dc-work--item--description{
      background: transparent;
    }
    .dc-biglist--now .dc-cv--linewrap::after{
      display: none;
    }

    .dc-biglist--now .dc-cv--linewrap__hasdescription:hover{ 
      & > *{
        opacity: 1 !important;
      }
      .dc-work--item--description{
        display: none !important;
      }
    }
  

  .dc-work--year .dc-work--items{
    flex-grow: 2;
    display: flex;
    justify-content: space-between;  
    position: relative;  
  }   
    .dc-work--year .dc-work--items > *::after{
      color: #000;
    }
    .dc-work--year .dc-work--items > *:only-child{
      flex-grow: 2;      
    }    
    /* fix safari no justify last line */
    .dc-work--year .dc-work--items > *:only-child:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
    /* and fix the issue this causes whereby the last item has a double height hover area */
    .dc-work--item{
      height: 1em;
      overflow: hidden;      
    }

/* related matters */
.dc-bio__home{
  padding-bottom: 2.7rem !important;
}
/* now */
.dc-biglist--now{
  position: absolute;
  width: 98%;
  top: auto;
  bottom: 0;
}
  .dc-biglist--now a{
    display: flex;
    width:100%;
    box-sizing: border-box;
    align-items: baseline; 
  }
  .dc-biglist--now h2{
    position: relative;
    margin-bottom: .1em;
    padding-right: .15em;
  }
  .dc-biglist--now .dc-cv--entry{
    height: 1.07em;
    line-height: 1;
    width: 100%;
    position: relative !important;
  }
    .dc-biglist--now .dc-cv--entry::before{
      bottom: 0.45em;
    }
    .dc-biglist--now .dc-cv--location{
      padding-left: 0;
    }

  .dc-biglist--now .dc-work--item--description{
    width: auto;
    left: 0;
    right: 0;
  }
  .dc-biglist--now .dc-external-link:hover:before{
    color: #DE0707;
  }


/* dissemination */
.dc-dissemination--info{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 1em;
}
