<nav class="dc-sitenav dc-sitenav__main">
  <div class="dc-sitenav--text">
    <div class="dc-sitenav--line dc-sitenav--line__one">
      <a href="{{dc_urlpath "" }}" data-dc-localtarget="#related-matters">
       <span class="visuallyhidden">dmstfctn (pronounced demystification)</span>
       {{> svg_header_text }}
      </a>      
    </div>
    <div class="dc-sitenav--line dc-sitenav--line__two condensed">     
      <span class="dc-hide-on-small"><a href="{{dc_urlpath "track-record"}}" data-dc-localtarget="#track-record">track record</a>,&nbsp;&nbsp;</span>
      <a href="mailto:mail@dmstfctn.net">mail<span class="dctxt--at">@</span>dmstfctn.net</a>,&nbsp; <a href="https://instagram.com/dmstfctn"><span class="dctxt--at">@</span>dmstfctn</a>
      <br>&nbsp;
    </div>
  </div>
  <a href="{{dc_urlpath "" }}" data-dc-localtarget="#related-matters" class="dc-faces">
    <div class="face" data-face="7"></div>
    <div class="face" data-face="2"></div>
    <div class="face" data-face="3"></div>
    <div class="face" data-face="1"></div>
    <div class="face" data-face="5"></div>
    <div class="face" data-face="6"></div>
    <div class="face" data-face="8"></div>
    <div class="face" data-face="4"></div>
    <div class="face" data-face="7"></div>
    <div class="face" data-face="2"></div>
    <div class="face" data-face="3"></div>
    <div class="face" data-face="1"></div>
    <div class="face" data-face="5"></div>
    <div class="face" data-face="6"></div>
    <div class="face" data-face="8"></div>
    <div class="face" data-face="4"></div>
    <div class="face" data-face="7"></div>
    <div class="face" data-face="2"></div>
    <div class="face" data-face="3"></div>
    <div class="face" data-face="1"></div>
    <div class="face" data-face="5"></div>
    <div class="face" data-face="6"></div>
    <div class="face" data-face="8"></div>
    <div class="face" data-face="4"></div>
    <div class="face" data-face="7"></div>
    <div class="face" data-face="2"></div>
    <div class="face" data-face="3"></div>
    <div class="face" data-face="1"></div>
    <div class="face" data-face="5"></div>
    <div class="face" data-face="6"></div>
    <div class="face" data-face="8"></div>
    <div class="face" data-face="4"></div>
  </a>
</nav>
{{#each navigation}}
  {{> (lookup . 'template') }}
{{/each }}  