<nav class="dc-sitenav dc-sitenav__main">
  <div class="dc-sitenav__left dc-sitenav__arrow dc-hide-on-large">
    {{> svg_arrow}}
  </div>
  <div class="dc-sitenav--text">
    <span class="dc-sitenav-item__home">
      <a class="dc-sitenav--homelink" href="{{dc_urlpath "" }}">
        dmstfctn
      </a>
    </span>
    <span class="dc-sitenav-item__work">
      <a href="{{dc_urlpath "" }}" data-dc-localtarget="#related-matters">
        work
      </a>
    </span>
    <span class="dc-sitenav-item__cv">
      <a href="{{dc_urlpath "track-record"}}" data-dc-localtarget="#track-record">
        <span class="dc-hide-on-large">dmstfctn</span> <span class="dc-hide-on-small">shows &amp; news</span>
      </a>
    </span>
    <span class="dc-sitenav-item__email">
      <a href="mailto:mail@dmstfctn.net">email</a>
    </span>
    <span class="dc-sitenav-item__ig">
      <a href="https://instagram.com/dmstfctn" target="_blank">@dmstfctn</a>
    </span> 
  </div>
  <div class="dc-sitenav__right dc-sitenav__arrow dc-hide-on-large">
    {{> svg_arrow}}
  </div>
</nav>
{{#each navigation}}
  {{> (lookup . 'template') }}
{{/each }}  
