<article class="dc-track-record" id="track-record" data-pagetype="home">
  <div class="dc-track-record--contents">
    <section class="dc-bio">
        {{{contents.bio}}}
    </section>
    <div class="dc-cv dc-small-chunk">
      {{> cv cv=contents.cv}}
    </div>   
  </div>
</article>