<article class="dc-track-record" id="track-record" data-pagetype="home">
  <div class="dc-track-record--contents">
    {{!-- <section class="dc-cv-download dc-hide-on-large">
      <a href="https://docs.google.com/document/d/1OWxyldlWZmEMp6M84fwwtL3lsm1qA3Z2MmhLCGN2dko/preview" target="_blank" rel="noopener noreferrer">See text CV here</a>
    </section> --}}
    <section class="dc-bio">
        {{{contents.bio}}}
    </section>   
    {{!-- <section class="dc-cv-download dc-hide-on-small">
      <a href="https://docs.google.com/document/d/1OWxyldlWZmEMp6M84fwwtL3lsm1qA3Z2MmhLCGN2dko/preview" target="_blank" rel="noopener noreferrer">See text CV here</a>
    </section> --}}
    <div class="dc-cv dc-small-chunk">
      {{> cv cv=contents.cv}}
    </div>   
  </div>
</article>